.product {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discountBadge {
  background: #01a22e;
  color: #ffff;
  padding: 0 5px;
  border-radius: 5px;
  /* text-decoration: line-through; */
  opacity: 0.8;
}

.product__img {
  position: relative;
  height: 180px;
  display: flex;
  justify-content: center;
}

.product__price {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

@media screen and (max-width: 786px) {
  .product {
    padding: 10px;
    margin: 10px;
    min-width: 13rem;
    gap: 0px;
  }

  .product__img {
    position: relative;
    height: 155px;
  }
}
