.footer {
  background: #01a22e;
  color: #ffff;
  padding: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialMedia__links {
  display: flex;
  gap: 0.4rem;
}

.SocialMedia__links > a {
  opacity: 0.7;
  transition: all 0.2s;
}

.SocialMedia__links > a:hover {
  opacity: 1;
}

.footerElement1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerElement1Links {
  opacity: 0.8;
  text-align: left;
}

.footerElement1Links > ul {
  list-style: none;
}

.followUs {
  text-align: center;
}

.footerElement2 {
  text-align: center;
}

.footerHeading {
  opacity: 0.7;
  margin-top: 5px;
}

.playstoreBtn {
  width: 120px;
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column-reverse;
    text-align: center;
  }

  .footerElement1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .footerElement2 {
    margin: 20px;
    padding-left: 0;
    margin-bottom: 5px;
  }

  .footerDownloadApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .followUs {
    padding-right: 0px;
    text-align: center;
  }

  .footerElement1Links {
    opacity: 0.8;
    text-align: center;
    margin: 20px;
  }

  .footerElement1Links > ul {
    text-align: center;
  }
}
