html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  color: inherit;
  text-decoration: none;
}

.swiper-pagination {
  opacity: 1;
}

.swiper-pagination-bullet {
  border: 2px solid #01a22c;
  box-sizing: content-box;
}

.swiper-pagination-bullet-active {
  background-color: #01a22c !important;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #01a22e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #6b6b6b68;
}

*::-webkit-scrollbar-thumb {
  background-color: #01a22e;
  border-radius: 0px;
  /* border: 3px solid #ffffff; */
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loading */
.loading {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #01a22e; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

/* response */
.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
