.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.headerTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 3px 10px 0 5px;
}

.navLinks {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 5px;
}

.headerBottom {
  /* background: #dfdfdf44; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 3px 10px;
}

.bottom__navLinks {
  display: flex;
  gap: 3rem;
  color: #01a22e;
  white-space: nowrap;
}

.menuIconContainer {
  display: none;
}

/* bottom__location */
.bottom__location {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 786px) {
  .headerBottom {
    display: none;
  }

  .menuIconContainer {
    display: block;
  }
}