.header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 78px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
  padding: 5px 10px;
  align-items: center;
}

.navSearch {
  width: 100%;
}

.headerBottom {
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-top: 0.09rem;
  /* gap: 10px; */
}

.scrollable {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

@media screen and (min-width: 480px) {
  .scrollable {
    justify-content: space-evenly;
  }
}

.menuChipContainer {
  display: flex;
  margin: 0px 5px;
}

/* hide Scroll Bars */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menuChip {
  background: #01a22e;
  width: 30px;
  height: 20px;
  margin: 2px 10px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  opacity: 0.9;
  transition: all 0.15s ease-in;
}

.logo:hover {
  opacity: 1;
}

.navLinks > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 0px;
}

.btn {
  padding: 5px;
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .navLinks > ul {
    gap: 10px;
  }
}

/* remove and show */
.inMobile {
  display: none;
}

.inDesktop {
  display: block;
}

@media screen and (max-width: 786px) {
  .inMobile {
    display: block;
  }

  .inDesktop {
    display: none;
  }
}
