.carousel {
  display: block;
  /* max-width: 1024px; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerContainer {
  height: 500px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .bannerContainer {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .bannerContainer {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .bannerContainer {
    height: 250px;
  }
}

@media screen and (max-width: 350px) {
  .bannerContainer {
    height: 200px;
  }
}

/* brandCard */
.brandCard {
  text-align: center;
  margin: 5px 15px;
  padding: 5px 0px;
}

.scrollable {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

/* topBrands */
.avatar {
  width: 96px;
  height: 96px;
  border: 1.5px solid #01a22e;
  border-radius: 50%;
  z-index: 10;
  overflow: hidden;
}

.avatar__img {
  position: relative;
  top: 24px;
}

/* hide Scroll Bars */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
