.docCards {
  margin: auto;
}

.docCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.4rem;
  overflow: hidden;
  margin: 0.7rem;
  max-width: 63rem;
}

.bar {
  width: 110%;
  height: 10px;
  position: relative;
  right: 20px;
  background-color: #01a22e;
}

.profileInfoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.6rem 0.6rem 0rem 0.6rem;
}


.profileInfo {
  display: flex;
  gap: 0.7rem;
}

.profileInfo__text {
  display: flex;
  flex-direction: column;
}

.flexEnd {
  display: flex;
  flex-direction: row-reverse;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
}

.rating {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

/* badge */
.badgeContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* margin: 1rem; */
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 5px;
}

.badgeTxt {
  background-color: #01a22e;
  color: white;
  padding: 5px;
}

/* book appointment */
.bookAppointmentContainer {
  display: flex;
  overflow-x: scroll;
}

.appointmentCard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.08) 0px 0px 0px 1px;
  margin: 0.3rem 0.7rem 0.7rem 0.7rem;  
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  min-width: 480px;
  height: fit-content;
}

.appointment__info {
  display: flex;
  flex-direction: column;
}

.clinicAddress {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.statusContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #01a22e;
}

.pricing {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 786px) {
  .appointmentCard {
    min-width: 320px;
  }
}

@media screen and (max-width: 540px) {
  .appointmentCard {
    min-width: 240px;
  }
}


@media screen and (max-width: 540px) {
  .profileInfo {
    display: block;
  }

  .flexEnd {
    /* align-items: center; */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bookAppointmentContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bookAppointmentContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}